---
layout: page
noPageTitle: true
---

<!--What I do..-->
<div class="row">
    <div class="col-sm-6">
        <p>IMAGE</p>
    </div>
    <div class="col-sm-6">
        <h3>What I do...</h3>
        <p>
            I provide solutions for apps, websites, games, systems and everything in between.
        </p>
        <p>
            I can help with existing projects or manage development from scratch.
        </p>
        <p>
            I am well-connected with other developers in the area, and frequently collaborate with others. This means
            that I can provide for bigger projects and bring in developers with specialist skills.
        </p>
        <p>
            To get a quote, or discuss a project, please <a href="{{ '/contact' | prepend: site.baseurl }}">get in touch</a>.
        </p>
    </div>
</div>

<!--Work Showcase-->
<div class="row">
    <div class="col-12 text-center">
        <h3>My Work</h3>
    </div>
    {% for project in site.projects %}
        {% if project.is_spotlight == true %}
            <div class="spotlight-project">
                <img class="spotlight-image" src="{{ project.spotlight_img_source | absolute_url }}" alt="{{project.spotlight_img_alt}}" />
                <p>{{project.spotlight_text}}</p>
            </div>
        {% endif %}
    {% endfor %}
    <div class="col-12 text-center">
        <p style="font-size: 22px; font-weight: bold;">More in <a href="{{ '/portfolio' | prepend: site.baseurl }}">Portfolio</a></p>
    </div>
</div>

<!--Testimonials-->
<div class="row">
    
</div>
