
/*fonts*/
/*font-family: 'Exo', sans-serif;*/

body {
  /*background-color: #6E6D70;*/
  padding-top:20px;
}

#container {
  min-width: 450px; /*ensure the width of the container isn't smaller than 450px*/
  max-width: 960px; /*ensure the width of the container isn't greater than 960px*/
  margin: auto;
}

.bloc {
  border-radius: 20px;
  background-color: #93C178;
}

.mini-bloc {
  width: 40%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  background-color: #93C178;
  float: left;
}

.mini-bloc p {
  padding-left: 10%;
}

#navbar {
  background-color: #93C178;
  text-align: center;
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  display: inline; /*display the elements on one line*/
  margin-right: 40px; /*ensure the elements are clearly separate*/
  padding: 5px;
  border-radius: 3px;
}

#main {
  text-align: center;

}

.subsection {
  margin-top: 20px;
  margin-bottom: 20px;
}

.subsection p {
  padding-left: 10%;
}

/*Headers and ting*/

.main-header {
  font-family: 'Exo', sans-serif;
  font-size: 72px;
}

h2 {
  font-family: 'Exo', sans-serif;
  font-size: 36px;
  padding-left: 10%;
}

h3 {
  font-family: 'Exo', sans-serif;
  font-size: 24px;
  padding-left: 10%;
}
