<hr/>
<div id="award-banner">
    <div class="row">
        <div class="col-12 text-center">
            <img id="startup-award-img" src="{{ '/assets/img/startupAwards.png' | absolute_url }}" alt="Newcastle University Startup Awards logo" />
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h3>Newcastle University StartUp Awards</h3>
            <p><span style="font-weight: bold;">2018 Winner: </span>Best Independent Professional</p>
        </div>
    </div>
</div>
<hr/>