<footer>
    <div class="container" id="footer-container">
        <!--language options-->
        {% if page.layout != 'index' %}
            {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
            {% if posts.size == 0 %}
                {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
            {% endif %}
            {% if posts.size > 1 %}
            <div class="lang-options">
                <ul>
                {% for post in posts %}
                <li><a href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }}" title="View in {{post.lang}}">
                    {{ site.languages[post.lang].label }}
                </a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endif %}

        <h3 class="contact-title">Contact</h3>
        <div class="row">
        <div class="col-sm-6">
            <p>Email: {{ site.email }}</p>
            <p>Twitter: <a href="https://twitter.com/calummackervoy">@CalumMackervoy</a></p>
            <p>Mastodon English: <a href="https://fosstodon.org/@calum">@calum@fosstodon.org</a></p>
            <p>Mastodon Français: <a href="https://mamot.fr/@calummackervoy">@calummackervoy@marmot.fr</a></p>
        </div>
        <div class="col-sm-6">
            <p><a href="https://github.com/calummackervoy">GitHub</a></p>
            <p><a href="https://gitlab.com/calummackervoy">GitLab</a></p>
            <p><a href="{{site.itch_url}}">Itch.io</a></p>
            <p><a href="https://www.linkedin.com/in/calum-mackervoy-9a0504151/">LinkedIn</a></p>
        </div>
        </div>
    <hr/>
    <p id="copyright">
        &#169; Calum Mackervoy 2018. All Rights Reserved.
    </p>
    </div>
</footer>