<header class = "navbar-fixed-top" role="banner">
    <div class="container">
        <h1 class="main-header">{{ site.title }}</h1>
        <nav class="navbar navbar-light">
            <ul class = "navbar-nav m-auto" role="navigation">
                {% assign lang = page.lang | default: 'en' %}
                {% if lang == 'fr' %}
                <li class="nav-item">
                    <a href="{{ '/fr/' | prepend: site.baseurl | prepend: site.url }}">Acceuil</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a>
                </li>
                {% endif %}
                {% assign pages_list = site.pages | where:"lang", lang %}
                {% for page in pages_list %} {% if page.title %}
                <li class="nav-item">
                    <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </nav>
    </div>
</header>