
body {
    margin: 0;
    color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}

a,
a:visited {
	color: $link-color;
	text-decoration: none;
	//font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}

main {
    padding: 0 15px;
	max-width: $content-width;
	margin: 0 auto;
}

.container {
	max-width: $content-width;
	margin: 0 auto;
}

/*
*    HEADER.HTML
*/

header {
    background-color: $header;
    padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-item {
    padding-right: 10px;
}

/*
*     ABOUTME.HTML CSS
*/
#profile-pic {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #bio {
    margin-top: 20px;
  }
  
  @media screen and (max-width: 930px) {
    .bio-para {
      width: 80%;
      margin: auto;
    }
  }
  
  @media screen and (min-width: 768px) {
    #profile-pic {
      margin-left: 10px;
    }
  }
  
  @media screen and (max-width: 295px) {
    #profile-pic {
      width: 100%;
    }
  }

/*
*   PORTFOLIO
*/
.project {
    margin-bottom: 10px;
}

.tags {
  list-style: none;
  margin-bottom: 5px;
}

.tags li {
  display: inline; /*display the elements on one line*/
  line-height: 2.25;
  margin-right: 2px; /*ensure the elements are clearly separate*/
  //margin-bottom: 2px;
  padding: 5px;
  border-radius: 3px;
  background-color: $tag-bg;
}