
body {
  width: 100vw;
  overflow-x: hidden !important;
  //max-width: 100%;
    margin: 0;
    color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

#container {
  max-width: 100%;
}

h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}

a {
	color: $link-color;
	text-decoration: none;
	//font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
a:active {
  color: $link-hover-color;
}
a:visited {
  color: $link-visited-color;
}

main {
  padding: 0 15px;
  //max-width: $content-width;
  //max-width: 70%;
	margin: 0 auto;
}

.container {
  //max-width: $content-width;
  //max-width: 70%;
	margin: 0 auto;
}

.text-centre {
  text-align: center;
}

/*
*    HEADER.HTML
*/

.navbar-toggler {
  background-color: $light;
}

header {
    //background-color: $header;
    max-width: $header-width;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 15px;
    text-align: center;
	  //margin: 0 0 0;
	  height: 50vh;
	  display: flex;
	  justify-content: center;
	  align-items: center;
}

@media screen and (min-width: $header-width) {
  header {
    margin: auto;
    border-radius: 20px;
  }
}

.main-header {
  color: $light;
  text-shadow: 4px 4px 2px black;
  font-family: $main-heading-font;
  font-size: 64px;
}

.nav-item {
    padding-right: 13px;
}

.nav-item a {
  color: $light;
  font-family: $main-heading-font;
  text-shadow: 3px 3px 2px black;
  font-size: 24px;
}

.nav-item a:hover {
  color: $navbar-hover-color;
  text-decoration: none;
}

//font-size can cause display issues with smaller width devices
@media screen and (min-width: 300px) and (max-width: 462px) {
  .main-header {
    font-size: 40px;
  }

  .nav-item a {
    font-size: 18px;
  }
}
@media screen and (max-width: 300px) {
  .main-header {
    font-size: 32px;
  }

  .nav-item a {
    font-size: 18px;
  }
}

/*
*     PAGE.HTML
*/
.page-title, .contact-title {
  text-align: center;
  font-family: $main-heading-font !important;
  margin-top: 20px;
  margin-bottom: 10px;
}

.page-content-container hr {
  width: 80vw;
  margin: auto;
}

/*
*     AWARD_BANNER.HTML
*/
#award-banner {
  margin-top: 20px;
  margin-bottom: 20px;
}

#startup-award-img {
  margin-bottom: 10px;
  border-radius: 10px;
}

/*
*     INDEX.HTML CSS
*/
.intro-container {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80%;
}

.intro-image {
  border-radius: 20px;
}

.spotlight-container {
  margin: 5px 5px 5px 5px;
}

.spotlight-project {
  width: 33%;
  float: left;
  margin-bottom: 20px;
}

.spotlight-image {
  border-radius: 10px;
}

.spotlight-text {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 1100px) {
  .spotlight-project {
    width: 50%;
  }
}

@media screen and (max-width: 760px) {
  .spotlight-project {
    clear: both;
    width: 100%;
  }
}

/*
*     ABOUTME.HTML CSS
*/
#profile-pic {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #bio {
    margin-top: 20px;
  }
  
  @media screen and (max-width: 930px) {
    .bio-para {
      width: 80%;
      margin: auto;
    }
  }
  
  @media screen and (min-width: 768px) {
    #profile-pic {
      margin-left: 10px;
    }
  }
  
  @media screen and (max-width: 295px) {
    #profile-pic {
      width: 100%;
    }
  }

/*
*   PORTFOLIO
*/

.portfolio-tags {
  list-style: none;
  margin-bottom: 5px;
}

.tag-item {
  display: inline; /*display the elements on one line*/
  line-height: 2.25;
  margin-right: 2px; /*ensure the elements are clearly separate*/
  //margin-bottom: 2px;
  padding: 5px;
  border-radius: 3px;
  background-color: $tag-bg;
}

//a tag which has been selected
.tag-active {
  background-color: $tag-bg-active !important;
}

.project-row {
  padding: 0;
}

.project-col {
  padding: 0;
  margin-bottom: 20px;
  //width: 98%;
  padding-left: 5px;
  padding-right: 5px;
}

.project {
  margin-bottom: 20px;
  padding: 10px;
  height: 100%;
}

.project-image-container {
  width: 100%;
}

.project-image {
  margin: auto;
  border-radius: 10px;
  padding-left: 15px;
}


//on larger screens making sure tags in opposite columns appear at same level
@media screen and (min-width: 768px) {
  .project {
    padding-bottom: 100px;
  }

  .project-top {
    height: 90%;
  }
  .project-bottom {
    height: 10%;
  }
}

.project-tags {
  list-style: none;
  margin-bottom: 5px;
}

.project-tags li {
  display: inline; /*display the elements on one line*/
  line-height: 2.25;
  margin-right: 2px; /*ensure the elements are clearly separate*/
  //margin-bottom: 2px;
  padding: 5px;
  border-radius: 3px;
  background-color: $tag-bg;
}