---
layout: page
lang: fr
lang-ref: index
redirect_from:
    - "/fr/projects/"
    - "/fr/portfolio/"
    - "/fr/about/"
---

<!--About me-->
<div class="row">
    <div class="col-sm-12 col-md-4">
        <img id="profile-pic" src="{{ '/assets/img/profile.jpg' | absolute_url }}" alt="profile picture of Calum" />
    </div>
    <div class="col-md-8" id="bio">
        <p>
            Je suis un développeur basé à Paris avec une riche expérience dans le développement web, mobile et de jeux vidéo.
            En 2017 j'ai obtenu un diplôme en informatique avec mention très bien à l'université de Newcastle,
            et je travaille à mon compte depuis. J'ai participé à des projets avec des gouvernements et des startups
            ambitieuses, à des projets open source de pointe et à des normes web émergentes, tout en m'investissant avec la même
            vigueur dans la résolution de problèmes informatiques classiques.
        </p>
        <p>
            Je me suis longtemps engagé dans des organisations coopératives et dans la maintenance de logiciels libres,
            et je crois que l'informatique (en tant qu'aspect des techniques sociales) peut être un outil au service du bien.
            Je mène des recherches personnelles, notamment sur le web sémantique, et je rédige des articles sur mes activités dans mon <a
            href="{{ '/blog' | prepend: site.baseurl }}">Blog</a> ainsi que sur l'informatique et les biens communs.
        </p>
    </div>
</div>

<!--CV-->
{% assign projects = site.projects | where: "lang", page.lang %}

<h1 class="mt-2">Expérience professionnelle</h1>

{% for project in projects %}

<div class="row project-row">
    <p>
        <span id="{{project.identifier}}">
            <strong>
                {% if project.website %}<a href="{{project.website}}" target="_blank">{{project.title}}</a>
                {% else %} {{project.title}} {% endif %}
            </strong>
            {{ project.summary }}
        </span>
    </p>
    {{ project.content }}
</div>

{% endfor %}

<h2 id="cooperatives">Cooperatives</h2>

<p>Parallèlement à mes activités indépendantes et à mes projets professionnels, j'ai participé activement, tout au long
    de ma carrière au développement de nombreuses entreprises coopératives.</p>

<p id="code-operative">
    En juillet 2018 j'ai cofondé <a href="https://code-operative.co.uk" target="_blank">Code-Operative</a>,
    la première coopérative de freelances numériques à voir le jour dans le nord-est de l'Angleterre.
    La mission de Code-Operative était d'accorder à ses membres une plus grande autonomie dans leur vie économique, à la
    fois en faisant découvrir à de nouvelles personnes les avantages du travail indépendant et en faisant découvrir aux
    travailleurs indépendants les avantages de la mutualisation au sein du modèle coopératif, grâce à une plus grande
    sécurité et autonomie dans leur travail et à un réseau de soutien. Nos clients étaient des entreprises
    technologiques engagées dans le social, généralement elles-mêmes des coopératives ou des organisations à but non
    lucratif.
    Entre 2018 et 2023, j'ai été un membre actif de la coopérative et j'ai contribué à l'élaboration de ses statuts, de
    sa mission, de son modèle économique, de ses premiers clients et de son modèle de gouvernance.
</p>

<p id="cotech">
    <b>CoTech</b> est un réseau de coopératives éthiques réparties à travers le Royaume-Uni qui fournissent des
    services technologiques, numériques et créatifs.
    Entre 2019 et 2023, j'ai participé activement à l'organisation des activités du réseau, par exemple en organisant
    la <a href="https://wiki.coops.tech/wiki/Newcastle_2019" target="_blank">Conférence de CoTech en Novembre 2019 à Newcastle</a>,
    à laquelle ont participé environ 60 personnes.
    Pour plus d'informations, consultez le <a href="https://coops.tech/" target="_blank">site web CoTech</a> ou 
    <a href="https://community.coops.tech/" target="_blank">le forum CoTech</a>.
</p>

<p id="gamescommons">
    <a href="https://gamescommons.com/" target="_blank">Games Commons</a> est une nouvelle façon d'envisager la conception 
    de jeux vidéo, basée sur les principes de l'économie collaborative et du web sémantique.
    Le projet phare, Sim Polis, est un jeu qui consiste à créer et à détruire des systèmes, développé sur <b>Godot</b>
    (GDScript and .NET), <b>Flask/Python</b> et <b>MongoDB</b>.
</p>

<p>
    Pour toute question concernant de nouveaux projets, des postes ou des collaborations, veuillez <a
        href="{{ '/contact' | prepend: site.baseurl }}">me contacter</a>.
</p>