---
layout: page
noPageTitle: true
lang: fr
lang-ref: index
---

<!--What I do..-->
<div class="row intro-container">
    <div class="col-md-6 text-center">
        <img class="intro-image" src="{{ '/assets/img/intro.jpg' | absolute_url }}" alt="Image of some app screen designs" />
    </div>
    <div class="col-md-6">
        <h2>Ce Que Je Fais</h2>
        <p>
            Je fournis des solutions pour des applications, des sites web, des jeux, des systèmes et tout ce qui se trouve entre les deux.
        </p>
        <p>
            Je peux vous aider avec les projets existant ou démarrer les projets de rien.
        </p>
        <p>
            Je suis bien connecté avec les autres developpeurs, particulairement de les co-opératives Anglaises et Française. Je travaille avec des autres souvent, et par co-opération je peux fournir pour les besoins plus grands, et les besoins des spécialistes.
        </p>
        <p>
            Pour recevoir un devi, ou discuter un projet, s'il vous plaît <a href="{{ '/fr/contact' | prepend: site.baseurl }}"></a>moi-contactez</a>.
        </p>
    </div>
</div>

<!--Startup award banner-->
{% include award_banner.html %}

<!--Work Showcase-->
<hr/>
<div class="row spotlight-container">
    <div class="col-12 text-center" style="margin-bottom: 20px">
        <h2>Mon Travail</h2>
    </div>
    {% for project in site.projects %}
        {% if project.is_spotlight == true %}
            <div class="spotlight-project">
                <a href="{{ project.identifier | prepend: '/fr/portfolio/#' | prepend: site.baseurl }}">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="spotlight-image" src="{{ project.spotlight_img_source | absolute_url }}" alt="{{project.spotlight_img_alt}}" />
                    </div>
                </div>
                <p class="spotlight-text">{{project.spotlight_text}}</p>
                </a>
            </div>
        {% endif %}
    {% endfor %}
    <div class="col-12 text-center">
        <p style="font-size: 24px; font-weight: bold; margin-top: 20px;">Plus des projets au <a href="{{ '/fr/portfolio' | prepend: site.baseurl }}">Portfolio</a></p>
    </div>
</div>
<hr/>

<!--Testimonials-->
<div class="row">
    
</div>
